* {
    box-sizing: border-box;
    margin: 0;
}

.container {
    background-color: white;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 100px 1fr 100px;
    grid-template-areas:
        "header header header header header header header header header header"
        "main main main main main main main sidebar sidebar sidebar"
        "footer footer footer footer footer footer footer footer footer footer";
}

main {
    grid-area: main;
    margin: 10px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

th,
td {
    border-bottom: 1px solid #ddd;
    padding: 15px;
    text-align: left;
}

th {
    background-color: #B0BEC5;
    color: white;
    height: 50px;
}

td {
    height: 40px;
}

td > .edit-button input[type=submit] {
    border: none;
    color: white;
    background-color: #26A69A;
    width: 60px;
    height: 30px;
    border-radius: 12px;
    font-weight: bold;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

td > .edit-button input[type=submit]:hover {
    cursor: pointer;
}

td > .delete-button input[type=submit] {
    border: none;
    color: white;
    background-color: #f84141;
    width: 60px;
    height: 30px;
    border-radius: 12px;
    font-weight: bold;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

td > .delete-button input[type=submit]:hover {
    cursor: pointer;
}

aside {
    grid-area: sidebar;
    margin: 10px 0px;
    padding: 5px;
    background-color: #ECEFF1;
    border-radius: 10px;
    height: max-content;
    display: flex;
    flex-wrap: wrap;
}

aside > .total-income,
aside > .total-expenses {
    width: 50%;
    border: 1px solid;
    padding: 5px;
    font-size: 19px;
}

aside > .total-income > span {
    color: green;
    font-size: 18px;
}

aside > .total-expenses > span {
    color: red;
    font-size: 18px;
}

aside > .balance {
    width: 100%;
    margin: 20px 0px;
    font-size: 19px;
    display: flex;
    justify-content: space-between;
}

aside > .balance > span {
    color: #03A9F4;
}

aside > .sidebar-button {
    margin: auto;
}

aside > .sidebar-button > a {
    text-decoration: none;
    color: white;
    background-color: #FF7043;
    padding: 20px;
    width: 175px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    font-weight: bold;
    font-size: 17px;
}