* {
    box-sizing: border-box;
    margin: 0;
}

.container {
    background-color: white;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 100px 1fr 100px;
    grid-template-areas:
        "header header header header header header header header header header"
        "main main main main main main main sidebar sidebar sidebar"
        "footer footer footer footer footer footer footer footer footer footer";
}

main {
    grid-area: main;
    margin: 10px 40px;
    background-color: #eee;
    border-radius: 20px;
    padding: 30px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main > h1 {
    color: #455A64;
    margin-bottom: 30px;
}

main > form {
    color: #455A64;
    font-size: 20px;
    height: 300px;
    width: 401.8px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

main > form > .transaction-type,
main > form > .amount,
main > form > .description,
main > form > .date-time {
    display: flex;
    justify-content: space-between;
}

main > form > .submit-reset {
    display: flex;
    justify-content: space-around;
}

main > form > .submit-reset > input[type=submit] {
    border: none;
    color: white;
    background-color: #26A69A;
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
    width: 160px;
    border-radius: 7px;
}

/* main > form > .submit-reset > input[type=reset] {
    border: none;
    color: white;
    background-color: #f84141;
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
    width: 160px;
    border-radius: 7px;
} */

main > form > .submit-reset > input:hover {
    cursor: pointer;
}